<div class="standardDivWidth">
    <br><br><br>
    <div id="Top_Layout">

        <div class="W4Divider"></div>

        <div id="Task_Name" class="W4ViewText"></div>
        <div class="W4Divider"></div>

        <div class="W4ViewLabel">Date</div>
        <div class="W4ViewText" id="Task_Date_Label"></div>

        <div class="W4Divider"></div>

        <div class="W4ViewLabel">Shift</div>
        <div class="W4ViewText" id="Task_Shift_Text"></div>

        <div class="W4Divider"></div>

        <div class="W4ViewLabel">Name</div>
        <div class="W4ViewText" id="Task_Person_Label"></div>

        <div class="W4Divider"></div>

        <div id="Task_Linear_Layout"></div>

        <div class="W4Divider"></div>

        <button id="Delete_Complete_Task" class="buttonHeight redButtonText redButton"
            style='width: 100%;'>Delete</button>
    </div>
</div>