<div class="standardDivWidth">
    <br><br><br>
    <div class="labelMarginTop labelSize">Person</div>

    <div id="View_TimePunch_Person_Text"></div>

    <div class="labelMarginTop labelSize">Shift</div>

    <div id="View_TimePunch_Shift_Text"></div>

    <div class="labelMarginTop labelSize">Time</div>

    <div id="View_TimePunch_Time"></div>

    <div style='display: flex; flex-direction: row;'>

        <input type="radio" id="View_TimePunch_ClockIn_Radio" name="View_TimePunch_Radio" checked disabled><span style='font-size: 18pt;'>Clock
            In</span>

        <input type="radio" id="View_TimePunch_ClockOut_Radio" name="View_TimePunch_Radio" disabled><span style='font-size: 18pt;'>Clock Out</span>
    </div>
</div>