<div class="standardDivWidth">
    <br><br><br>
    <div id="View_Shift">
        <div class="labelMarginTop labelSize">Name</div>

        <div id="View_ShiftTime_Name" class="nameSize"></div>

        <div class="labelMarginTop labelSize">Location</div>

        <div id="View_ShiftTime_Location_Text"></div>

        <div class="labelMarginTop labelSize">Time</div>

        <div id="View_ShiftTime_Start_Time"></div>

        <div class="labelSize">To</div>

        <div id="View_ShiftTime_End_Time"></div>

        <div style='height: 20px;'></div>
        <div id="View_ShiftTime_RepeatDiv">
            <div class="labelMarginTop labelSize">Summary</div>

            <div id="View_ShiftTime_RepeatSummary_Text"></div>

            <div id="View_ShiftTime_Calendar_RepeatSummary" style="display: flex; justify-content: center;"></div>
        </div>

        <div id="View_ShiftTime_Permissions_Warning_Text" style=' display: none;'></div>

        <div id="View_ShiftTime_Assigned_Text" style='text-align: center; '></div>

        <div id="View_ShiftTime_Add_Person_List">
        </div>
    </div>
</div>