<div style="width: 100%;">
    <div id="chat_messages_view" style="padding: 10px;">
    </div>
    <div id="chat_bottom_scrollintoview_div" style="height: 100px;"></div>
    <div id="sidebar_sensitive"
        style="display: flex; flex-direction: row; position: fixed; left: 260px; bottom: 0px; right: 0px; background-color: white;">
        <input id="message_input" style="flex-grow: 1; margin-top: 20px; height: 50px; margin-left: 10px;"
            placeholder="Type your message">
        <img class="clickable" id="message_send_button" style="width: 70px; height: 70px; margin: 10px;"
            src="../res/send.png">
    </div>
</div>