<div class="standardDivWidth">
    <br><br><br>
    <div id="InspectionPlan">
        <div id="Top_Layout">

            <button id="Import_Template" class="buttonHeight" style='margin-bottom: 10px; width: 100%;'>Import
                Template</button>

            <div class="labelMarginTop labelSize">Name</div>

            <input id="InspectionPlan_Name" class="nameSize" placeholder="Name">

            <div id="Inspection_Plan_Shift_Label" class="labelMarginTop labelSize">Shift</div>

            <select id="Inspection_Plan_Shift_Spinner"></select>

            <div style='height: 20px;'></div>

            <div id="Inspection_Plan_Linear_Layout"></div>

            <div style='display: flex; flex-direction: row;'>

                <button id="Inspection_Plan_Add_Area" class="buttonHeight"
                    style='margin-bottom: 10px; flex-grow: 1.3; '>Add New Area +</button>
            </div>

            <div style='display: flex; flex-direction: row;'>

                <button id="Cancel_InspectionPlan"
                    style='height: 50px; flex-grow: .4; margin-right: 10px; '>Cancel</button>
                <button id="Accept_InspectionPlan" style='height: 50px; flex-grow: 1; '>Accept</button>

            </div>

            <div style='height: 50px;'></div>

            <button id="Delete_Inspection_Plan" class="buttonHeight redButtonText redButton"
                style='width: 100%;'>Delete</button>

        </div>
    </div>

</div>