<div class="standardDivWidth">
    <br><br>
    <div style="width: 80%; display: block; margin: auto;">
        <img src="../res/ic_timeline.png" width="30" height="30" style="position: relative; top: 45px; left: 20px;">
    </div>
    <button id="Button_Export_Hours_Count" class="buttonHeight"
        style='width: 80%; display: block; margin: auto; margin-bottom: 20px;'>
        Hours Count</button>
    <div style="width: 80%; display: block; margin: auto;">
        <img src="../res/ic_clock.png" width="30" height="30" style="position: relative; top: 45px; left: 20px;">
    </div>
    <button id="Button_Export_Clock_Summary" class="buttonHeight"
        style='width: 80%; display: block; margin: auto; margin-bottom: 20px;'>Clock
        Summary</button>
    <div style="width: 80%; display: block; margin: auto;">
        <img src="../res/ic_checklist.png" width="30" height="30" style="position: relative; top: 45px; left: 20px;">
    </div>
    <button id="Button_Export_Task_Summary" class="buttonHeight"
        style='width: 80%; display: block; margin: auto; margin-bottom: 20px;'>Task
        Summary</button>
    <div style="width: 80%; display: block; margin: auto;">
        <img src="../res/ic_lightbulb.png" width="30" height="30" style="position: relative; top: 45px; left: 20px;">
    </div>
    <button id="Button_Export_Supply_Requests" class="buttonHeight"
        style='width: 80%; display: block; margin: auto; margin-bottom: 20px;'>Supply
        Requests</button>
    <div style="width: 80%; display: block; margin: auto;">
        <img src="../res/ic_verified.png" width="30" height="30" style="position: relative; top: 45px; left: 20px;">
    </div>
    <button id="Button_Export_Inspection_Summary" class="buttonHeight"
        style='width: 80%; display: block; margin: auto; margin-bottom: 20px;'>Inspection Summary</button>
</div>