<div id="maindiv">
    <div class="flex-center">
        <img src="../res/src_assets_logos_logo_rounded.png" style="width: 10%">
    </div>
    <div class="flex-center" style="font-size: 26px;">
        Login
    </div>
    <br><br>
    <div style="display: block; margin-left: auto; margin-right: auto; width: 25%;">
        EMAIL
        <img src="../res/ic_email.png" width="30" height="30" style="position: relative; top: 50px; left: -40px;">
        <input type="text" id="Login_Email"
            style="width: 95%; height: 40px; font-size: 17px; margin-top: 10px; padding-left: 40px;" autofocus>
        <br>
        PASSWORD
        <img src="../res/ic_lock.png" width="30" height="30" style="position: relative; top: 50px; left: -80px;">
        <input type="password" id="Login_Password"
            style="width: 95%; height: 40px; font-size: 17px; margin-top: 10px; padding-left: 40px;">
        <br><br>
        <label class="checkBox_container" style="font-size: 16px;">Remember Password<input id="StaySignedInCheckbox"
                type="checkbox"><span class="checkmark"></span></label>
        <button id="forgot_password_button"
            style="height: 40px; font-size: 16px; background-color: #00000000; color: black;"><u>Forgot
                Password?</u></button>
        <br><br>
        <button id="SignInButton" style="width: 100%; height: 40px; font-size: 16px;">LOG
            IN</button>
        <br><br>
        <div style="display: flex; flex-direction: row;">
            <div style="flex-grow: 2; height: 40px; padding-top: 9px;">Need an Account?</div>
            <button onclick="window.open('../stripe.html', '_blank');"
                style="flex-grow: 1; height: 40px; font-size: 16px; padding-left: 10px; padding-right: 10px; background-color: #00000000; color: black;"><u>Sign
                    Up</u></button>
        </div>
        <div class="loader" id="SignIn_Progress" style="width: 40px; height: 40px; margin: auto;"></div>
        <br>
        <button id="CancelButton" style="width: 100%; height: 40px; font-size: 16px;">Cancel</button>
        <br><br><br>
        <div id="version_main"></div>
    </div>
</div>
<div id="forgot_password_div">
    <div style="display: block; margin-left: auto; margin-right: auto; width: 25%;">
        <div class="clickable" id="forgot_password_back_arrow"><img class="icon_black_to_blue2"
                src="../res/arrow_back2.png" width="50" height="50"></div>
        EMAIL<br>
        <input type="text" id="forgot_password_input"
            style="width: 95%; height: 40px; font-size: 17px; margin-top: 10px;">
        <br><br>
        <button id="SendForgotPasswordEmailButton" style="width: 100%; height: 40px; font-size: 16px;">Send Password
            Reset Email</button>
    </div>


</div>