<div class="standardDivWidth">
    <br><br><br>
    <button id="Button_Export_Hours_Count" class="buttonHeight"
        style='width: 80%; display: block; margin: auto; margin-top: 20px; margin-bottom: 20px;'>Hours Count</button>

    <button id="Button_Export_Clock_Summary" class="buttonHeight" style='width: 80%; display: block; margin: auto; margin-bottom: 20px;'>Clock
        Summary</button>

    <button id="Button_Export_Task_Summary" class="buttonHeight" style='width: 80%; display: block; margin: auto; margin-bottom: 20px;'>Task
        Summary</button>

    <button id="Button_Export_Supply_Requests" class="buttonHeight" style='width: 80%; display: block; margin: auto; margin-bottom: 20px;'>Supply
        Requests</button>

    <button id="Button_Export_Inspection_Summary" class="buttonHeight"
        style='width: 80%; display: block; margin: auto; margin-bottom: 20px;'>Inspection Summary</button>
</div>