<div class="standardDivWidth">
    <br><br><br>
    <div id="SupplyItemView">
        <div id="View_SupplyItem_Requester"
            style='background-color: #FF0000FF; color: #FFFFFFFF;  display: none; font-size: 20px; padding-left: 20px; border-radius: 20px;'>
        </div>

        <div class="labelMarginTop labelSize">Name</div>

        <div id="View_SupplyItem_Name"></div>

        <div class="labelMarginTop labelSize">Brand</div>

        <div id="View_SupplyItem_Brand"></div>

        <div class="labelMarginTop labelSize">Sku</div>

        <div id="View_SupplyItem_Sku"></div>

        <table>
            <tr>
                <td class="labelMarginTop labelSize">Price</td>
                <td class="labelMarginTop labelSize">Quantity</td>
            </tr>
            <tr>
                <td>
                    <div style="display: flex; flex-direction: row;">
                        <div id="Price_Label" style='font-size: 30px;'>$</div>
                        <div id="View_SupplyItem_Price" style="padding-top: 9px; padding-right: 20px;"></div>
                    </div>
                </td>
                <td>
                    <div id="View_SupplyItem_Quantity"></div>
                </td>
            </tr>
        </table>

        <div class="labelMarginTop labelSize">Supplied by</div>

        <div id="View_SupplyItem_SuppliedBy"></div>

        <div class="labelMarginTop labelSize" id="View_SupplyItem_Location_Label">Location</div>

        <div id="View_SupplyItem_Location_Text"></div>

        <div class="labelMarginTop labelSize">Notes</div>

        <div id="View_SupplyItem_Notes"></div>
    </div>
</div>