<div class="standardDivWidth">
    <br><br><br>
    <div class="labelMarginTop labelSize">Name</div>

    <div id="View_Location_Name" style="width: 100%;"></div>

    <div class="labelMarginTop labelSize">Address 1</div>

    <div id="View_Location_Address1" style="width: 100%;"></div>

    <div class="labelMarginTop labelSize">Address 2</div>

    <div id="View_Location_Address2" style="width: 100%;"></div>
    <br><br>
    <table>
        <tr>
            <td class="labelMarginTop labelSize">City</td>
            <td class="labelMarginTop labelSize">State</td>
        </tr>

        <tr>
            <td>
                <div id="View_Location_City"></div>
            </td>
            <td>
                <div id="View_Location_State"></div>
            </td>
        </tr>

        <tr>
            <td class="labelMarginTop labelSize">Zip Code</td>
            <td class="labelMarginTop labelSize">Phone</td>
        </tr>

        <tr>
            <td>
                <div id="View_Location_Zip"></div>
            </td>
            <td>
                <div id="View_Location_Phone"></div>
            </td>
        </tr>
    </table>

    <div class="labelMarginTop labelSize" id="View_Location_Country_Label">Country</div>

    <div id="View_Location_Country_Text"></div>
    <div style='height: 20px;'></div>
    <div style='display: flex; flex-direction: row;'>
        <div style="padding-top: 10px;">GPS Clock In/Out Radius&nbsp;&nbsp;&nbsp;</div>
        <div id="View_Location_GPSRadius" style='width: 100px; text-align: center; padding-top: 10px;'></div>
        &nbsp;&nbsp;&nbsp;
        <span style="padding-top: 10px;">Ft.</span>
    </div>

    <div class="labelMarginTop labelSize">E-mail</div>

    <div type="email" id="View_Location_Email" style="width: 100%;"></div>

    <div class="labelMarginTop labelSize">Security Info</div>

    <div id="View_Location_Security" style='width: 100%;'></div>

    <div class="labelMarginTop labelSize">Instructions</div>

    <div id="View_Location_Instructions" style='width: 100%;'></div>

</div>