<div style="background-color: white;">
    <div class="standardDivWidth">
        <br><br><br>
        <div class="loader" id="LoadAssets_Progress" style='margin: auto;'></div>

        <div style="display: flex; flex-direction: row; margin: auto; margin-bottom: 10px; width: 75%;">
            <button id="LogOutButton" class="buttonHeight" style="flex-grow: 1;">Log Out</button>
            <div style="flex-grow: .1;"></div>
            <button id="EmployeeStatusButton" class="buttonHeight" style='flex-grow: 4;'></button>
        </div>
        <br>
        <div style="display: flex; flex-wrap: wrap; margin: auto;" class="no_selection">
            <!-- <div style="display: block; margin: auto; width: 910px;"> -->
            <img class="homeButton" id="PeopleButton" src="../res/icon_people.png">
            <img class="homeButton" id="TasksButton" src="../res/icon_tasks.png">
            <img class="homeButton" id="LocationsButton" src="../res/icon_locations.png">
            <img class="homeButton" id="ShiftsButton" src="../res/icon_shifts.png">
            <!-- </div> -->

            <!-- <div style="display: block; margin: auto; width: 910px;"> -->
            <div>
                <div id="SupplyItemsButtonRedCircle" class="no_selection">
                    <img src="../res/red_circle.png" style='position: absolute; width: 40px; height: 40px;'>
                    <div id="SupplyItemsButtonRedCircleText"
                        style="position: absolute; width: 40px; height: 40px; text-align: center; color: #FFFFFFFF; font-size: 22pt;">
                        10</div>
                </div>
                <img id="SupplyItemsButton" class="homeButton" src="../res/icon_supplies.png">
            </div>
            <img class="homeButton" id="SDSButton" src="../res/icon_sds.png">
            <img class="homeButton" id="InspectionPlansButton" src="../res/icon_inspections.png">
            <img class="homeButton" id="TimePunchesButton" src="../res/icon_time_punches.png">
            <!-- </div> -->

            <!-- <div style="display: block; margin: auto; width: 910px;"> -->
            <img class="homeButton" id="MessagesButton" src="../res/icon_messages.png">
            <img class="homeButton" id="ReportsButton" src="../res/icon_reports.png">
            <img class="homeButton" id="AdminToolsButton" src="../res/icon_admin_tools.png">
            <img class="homeButton" id="OwnerToolsButton" src="../res/icon_owner_tools.png">
        </div>


        <div style='height: 40px; display: flex; flex-direction: row;'>

            <div id="version_home" class="labelMarginTop labelSize"
                style='flex-grow: 1; background-color: #FFFFFFFF; color: #000000FF; text-align: left;'>
                v. TEST</div>

            <button id="PrivacyPolicyButton" class="labelSize"
                style='flex-grow: 1; text-align: right; background-color: #00000000; '><u>Privacy
                    Policy</u></button>
        </div>
    </div>
</div>