<div class="standardDivWidth">
    <br><br><br>

    <div class="W4Divider"></div>

    <div class="W4ViewLabel">Person</div>
    <div class="W4ViewText" id="View_EmployeeStatus_Person_Text" ></div>

    <div class="W4Divider"></div>
    
    <div class="W4ViewLabel">Shift</div>
    <div class="W4ViewText" id="View_EmployeeStatus_Shift_Text" ></div>

    <div class="W4Divider"></div>
    
    <div class="W4ViewText" id="View_EmployeeStatus_Clocked_Text" style='margin-top: 10px; '></div>
    
    <div class="W4Divider"></div>

</div>
