<div class="standardDivWidth">
    <br><br><br>
    <div class="W4Divider"></div>

    <div class="W4ViewLabel">Name</div>
    <div class="W4ViewText" id="View_Location_Name" style="width: 100%;"></div>

    <div class="W4Divider"></div>

    <div class="W4ViewLabel">Address 1</div>
    <div class="W4ViewText" id="View_Location_Address1" style="width: 100%;"></div>

    <div class="W4Divider"></div>

    <div class="W4ViewLabel">Address 2</div>
    <div class="W4ViewText" id="View_Location_Address2" style="width: 100%;"></div>

    <div class="W4Divider"></div>

    <table style="width: 100%;">
        <tr>
            <td class="W4ViewLabel">City</td>
            <td class="W4ViewLabel">State</td>
        </tr>
        <tr>
            <td>
                <div class="W4ViewText" id="View_Location_City"></div>
            </td>
            <td>
                <div class="W4ViewText" id="View_Location_State"></div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="W4Divider"></div>
            </td>
        </tr>
        <tr>
            <td class="W4ViewLabel">Zip Code</td>
            <td class="W4ViewLabel">Phone</td>
        </tr>

        <tr>
            <td>
                <div class="W4ViewText" id="View_Location_Zip"></div>
            </td>
            <td>
                <div class="W4ViewText" id="View_Location_Phone"></div>
            </td>
        </tr>
    </table>
    <div class="W4Divider"></div>

    <div class="W4ViewLabel" id="View_Location_Country_Label">Country</div>
    <div class="W4ViewText" id="View_Location_Country_Text"></div>

    <div class="W4Divider"></div>

    <div style='display: flex; flex-direction: row;'>
        <div class="W4ViewLabel" style="padding-top: 10px;">GPS Clock In/Out Radius&nbsp;&nbsp;&nbsp;</div>
        <div class="W4ViewText" id="View_Location_GPSRadius" style='width: 50px; text-align: center; padding-top: 6px;'>
        </div>
        <span class="W4ViewLabel" style="padding-top: 10px;">Ft.</span>
    </div>

    <div class="W4Divider"></div>

    <div class="W4ViewLabel">E-mail</div>
    <div class="W4ViewText" type="email" id="View_Location_Email" style="width: 100%;"></div>

    <div class="W4Divider"></div>

    <div class="W4ViewLabel">Security Info</div>
    <div class="W4ViewText" id="View_Location_Security" style='width: 100%;'></div>

    <div class="W4Divider"></div>

    <div class="W4ViewLabel">Instructions</div>
    <div class="W4ViewText" id="View_Location_Instructions" style='width: 100%;'></div>

    <div class="W4Divider"></div>
</div>