<br><br><br>
<div style="display: flex; width: 800px; margin: auto; height: 50px;">
    <button id="prevYear" style="flex-grow: 1; background: #0080FF;">
        <div style="color: white;" id="prevYearText"></div>
    </button>
    <div style="flex-grow: .1;"></div>
    <button id="nextYear" style="flex-grow: 1; background: #0080FF;">
        <div style="color: white;" id="nextYearText"></div>
    </button>
</div>
<div id="Calendar" class="no_selection" style="display: block; margin: auto; margin-top: 50px; width: 800px;"></div>