<div class="standardDivWidth">
    <br><br><br>
    <img id="AddTaskButton" class="AddButton" src="../res/plus_button.png"></button>

    <button id="TemplatesButton" class="buttonHeight" style='width: 100%; margin-bottom: 20px;'>Templates</button>

    <button id="Button_Export_Task_Summary2" class="buttonHeight" style='width: 100%; margin-bottom: 20px;'>Export Task
        Summary</button>

    <div class="search_div" style='display: flex; flex-direction: row;'>

        <img id="imageView" style='width: 50px; height: 50px;' src="../res/actionModeWebSearchDrawable.png">

        <input id="Search_Bar" placeholder="Search" style='flex-grow: 1; height: 50px; margin-right: 10px;'>
    </div>

    <div id="TasksList"></div>

    <div id="View_Tasks_Space1" style='height: 50px; display: none;'></div>

    <div id="View_TasksInProgress_Label" style='font-size: 30pt; display: none;'>In Progress</div>

    <div id="TasksInProgressList"></div>

    <div id="View_Tasks_Space2" style='height: 50px; display: none;'></div>

    <div id="View_TasksCompleted_Label" style='font-size: 30pt; display: none;'>Completed</div>

    <div id="TasksCompletedList"></div>
</div>