<div class="standardDivWidth" style='display: block;'>
    <br><br><br>
    <div class="labelSize labelMarginTop" style='display: block; margin: auto; width: 100%;'>Companies</div>

    <div id="CompaniesLL"></div>

    <button id="Add_Company" class="buttonHeight"
        style='display: block; margin: auto; width: 50%; margin-top: 10px; margin-bottom: 40px;'>Add
        Company +</button>

    <div class="labelMarginTop labelSize" style='display: block; margin: auto; width: 50%;'>Admins</div>

    <div id="AdminsLL" style="display: block; margin: auto; width: 50%;"></div>

    <button id="Add_Admin" class="buttonHeight"
        style='display: block; margin: auto; width: 50%; margin-top: 10px; margin-bottom: 10px;'>Add Admin
        +</button>
</div>