<div class="standardDivWidth">
    <br><br><br>
    <div id="InspectionPlanView">

        <div id="Top_Layout">

            <div class="labelMarginTop labelSize">Name</div>

            <div class="nameSize" id="View_InspectionPlan_Name"></div>

            <div class="labelMarginTop labelSize">Shift</div>

            <div id="Inspection_Plan_Shift_Text"></div>

            <div class="labelMarginTop labelSize">Date</div>

            <div id="View_Inspection_Plan_Date"></div>

            <div class="labelMarginTop labelSize">Inspector</div>

            <div id="View_Inspection_Plan_Inspector"></div>

            <div style='height: 20px;'></div>

            <div id="Inspection_Plan_Linear_Layout"></div>

            <div style='height: 50px;'></div>

            <button id="Delete_View_Completed_InspectionPlan" class="buttonHeight redButtonText redButton"
                style='width: 100%;'>Delete</button>
        </div>
    </div>
</div>