<div class="standardDivWidth">
    <br><br><br>
    <img id="AddInspectionPlanButton" class="AddButton" src="../res/plus_button.png"></button>

    <button id="TemplatesButton" class="buttonHeight" style='width: 100%; margin-bottom: 20px; '>Templates</button>
    <button id="Button_Export_Inspection_Summary2" class="buttonHeight" style='width: 100%;'>Export
        Inspection Summary</button>
        <br><br>

    <div class="search_div" style='display: flex; flex-direction: row;'>

        <img id="imageView" style='width: 50px; height: 50px;' src="../res/actionModeWebSearchDrawable.png">

        <input id="Search_Bar" placeholder="Search" style='flex-grow: 1; height: 50px; margin-right: 10px;'>
    </div>

    <div id="InspectionPlansList"></div>

    <div id="View_Inspection_Plans_Space2" style='height: 50px; display: none;'></div>

    <div id="View_InspectionPlansInProgress_Label" style='font-size: 30pt; display: none;'>In Progress</div>

    <div id="InspectionPlansInProgressList"></div>

    <div id="View_Inspection_Plans_Space1" style='height: 50px; display: none;'></div>

    <div id="View_InspectionPlansCompleted_Label" style='font-size: 30pt; display: none;'>Completed</div>

    <div id="InspectionPlansCompletedList"></div>


</div>