<div class="standardDivWidth">
    <br><br><br>
    <div id="SupplyItemView">
        <div id="View_SupplyItem_Requester"
            style='background-color: #B30101; color: #FFFFFFFF;  display: none; font-size: 20px; padding-left: 20px; border-radius: 20px; margin-bottom: 10px;'>
        </div>

        <div class="W4Divider"></div>

        <div class="W4ViewLabel">Name</div>
        <div class="W4ViewText" id="View_SupplyItem_Name"></div>

        <div class="W4Divider"></div>

        <div class="W4ViewLabel">Brand</div>
        <div class="W4ViewText" id="View_SupplyItem_Brand"></div>

        <div class="W4Divider"></div>

        <div class="W4ViewLabel">Sku</div>
        <div class="W4ViewText" id="View_SupplyItem_Sku"></div>

        <div class="W4Divider"></div>

        <table style="width: 100%;">
            <tr>
                <td class="W4ViewLabel">Price</td>
                <td class="W4ViewLabel">Quantity</td>
            </tr>
            <tr>
                <td>
                    <div style="display: flex; flex-direction: row;">
                        <div id="Price_Label" style='font-size: 20px;'>$</div>
                        <div class="W4ViewText" id="View_SupplyItem_Price"
                            style="padding-top: 4px; padding-right: 20px;"></div>
                    </div>
                </td>
                <td>
                    <div class="W4ViewText" id="View_SupplyItem_Quantity"></div>
                </td>
            </tr>
        </table>

        <div class="W4Divider"></div>

        <div class="W4ViewLabel">Supplied by</div>
        <div class="W4ViewText" id="View_SupplyItem_SuppliedBy"></div>

        <div class="W4Divider"></div>

        <div class="W4ViewLabel" id="View_SupplyItem_Location_Label">Location</div>
        <div class="W4ViewText" id="View_SupplyItem_Location_Text"></div>

        <div class="W4Divider"></div>

        <div class="W4ViewLabel">Notes</div>
        <div class="W4ViewText" id="View_SupplyItem_Notes" style="margin-bottom: 10px;"></div>

        <div class="W4Divider"></div>
    </div>
</div>