<div class="standardDivWidth" id="Top_Layout">
    <br><br><br>
    <div id="Do_InspectionPlan_Occurence_Name" class="nameSize">Name</div>
    <div class="labelMarginTop labelSize">Shift</div>
    <div id="Do_Inspection_Plan_Occurence_Shift_Label"></div>
    <div class="labelMarginTop labelSize">Date</div>
    <div id="Do_Inspection_Plan_Occurence_Date">Date</div>
    <div class="labelMarginTop labelSize">Inspector</div>
    <div id="Do_Inspection_Plan_Occurence_Inspector"></div>
    <div style='height: 20px;'></div>
    <div id="Inspection_Plan_Linear_Layout"></div>
    <div style='display: flex; flex-direction: row;'>
        <button id="Cancel_Do_InspectionPlanOccurence"
            style='height: 50px; margin-right: 10px; flex-grow: .4; '>Cancel</button>
        <button id="Finish_Do_InspectionPlanOccurence" style='height: 50px; flex-grow: 1;'>Finish</button>
    </div>

    <button id="Save_Do_InspectionPlanOccurence" class="buttonHeight" style='margin-top: 10px;  width: 100%;'>Save For
        Later</button>

    <div style='height: 50px;'></div>

    <button id="Delete_Do_Inspection_Plan_Occurence" class="buttonHeight redButtonText redButton"
        style='width: 100%;'>Delete</button>
</div>