<div class="standardDivWidth">
    <br><br><br>
    <div id="TaskAdd">
        <div id="Top_Layout">
            <div id="LL1">
                <button id="Import_Template" class="buttonHeight" style='margin-bottom: 10px; width: 100%;'>Import
                    Template</button>

                <div class="labelMarginTop labelSize">Name</div>

                <input class="nameSize" id="Task_Name" style="width: 100%;">

                <div class="labelMarginTop labelSize" id="Task_Shift_Text">Shift</div>

                <select id="Task_Shift_Spinner" style='background-color: #FFFFFF'></select>

                <div style='height: 20px;'></div>
            </div>
            <div id="Task_Linear_Layout"></div>
            <div id="LL2">
                <div style='display: flex; flex-direction: row;'>

                    <button id="Task_Add_Area" class="buttonHeight" style='margin-bottom: 10px; flex-grow: 1.3; '>Add
                        New Task +</button>
                </div>

                <div style='display: flex; flex-direction: row;'>
                    <button id="Cancel_Add_Task"
                        style='height: 50px; flex-grow: .4; margin-right: 10px; '>Cancel</button>
                    <button id="Accept_Add_Task" style='height: 50px; flex-grow: 1; '>Accept</button>
                </div>

                <div style='height: 50px;'></div>

                <button id="Delete_Edit_Task" class="buttonHeight redButtonText redButton"
                    style="width: 100%;">Delete</button>
            </div>
        </div>
    </div>
</div>