<div class="standardDivWidth">
    <br><br><br>
    <div class="" style='text-align: center;'>How many would you like to request?</div>

    <div style='display: flex; flex-direction: row;'>

        <button id="Request_Supplies_Amount_Minus" style='font-size: 15pt; width: 100px;'>-</button>

        <input type="number" value="1" id="Request_Supplies_Amount" placeholder="#"
            style='flex-grow: 1; text-align: center; font-size: 30pt; margin-left: 10px;'>

        <button id="Request_Supplies_Amount_Plus" style='font-size: 15pt; width: 100px;'>+</button>

    </div>

    <div style='display: flex; flex-direction: row;'>

        <button id="Cancel_Request_Supplies"
            style='height: 50px; margin-top: 10px; flex-grow: .4; margin-right: 10px; font-size: 15pt;'>Cancel</button>

        <button id="Accept_Request_Supplies"
            style='height: 50px; margin-top: 10px; flex-grow: 1; font-size: 15pt;'>Request</button>
    </div>
</div>