<div class="standardDivWidth">
    <br><br><br>

    <div class="W4Divider"></div>

    <div class="W4ViewLabel">Person</div>
    <div class="W4ViewText" id="View_TimePunch_Person_Text"></div>

    <div class="W4Divider"></div>

    <div class="W4ViewLabel">Shift</div>
    <div class="W4ViewText" id="View_TimePunch_Shift_Text"></div>

    <div class="W4Divider"></div>

    <div class="W4ViewLabel">Time</div>
    <div class="W4ViewText" id="View_TimePunch_Time"></div>

    <div class="W4Divider"></div>

    <div style='display: flex; flex-direction: row;'>

        <input type="radio" id="View_TimePunch_ClockIn_Radio" name="View_TimePunch_Radio" checked disabled><span
            class="W4ViewText" style='margin-top: 4px; margin-right: 10px;'>Clock
            In</span>

        <input type="radio" id="View_TimePunch_ClockOut_Radio" name="View_TimePunch_Radio" disabled><span
            class="W4ViewText" style='margin-top: 4px;'>Clock Out</span>
    </div>

    <div class="W4Divider"></div>

</div>