<div class="standardDivWidth">
    <br><br><br>
    <img id="AddTaskButton_ByType" class="AddButton" src="../res/plus_button.png" style="bottom: 140px;"></button>
    <button id="TemplatesButton" class="buttonHeight" style='width: 100%; margin-bottom: 20px;'>Templates</button>
    <div class="search_div" style='display: flex; flex-direction: row;'>
        <img id="imageView" style='width: 50px; height: 50px;' src="../res/actionModeWebSearchDrawable.png">
        <input id="Search_Bar" placeholder="Search" style='flex-grow: 1; height: 50px; margin-right: 10px;'>
    </div>

    <div id="TaskTypeList"></div>

    <div id="sidebar_sensitive" style="position: fixed; left: 260px; bottom: 0px; right: 0px;">
        <div style='display: flex; flex-direction: row; justify-content: space-around;'>
            <div id="SetTaskTypePersonButton" class="clickable" style="width: 50%; background-color: white;"><img
                    width=150 height=150 style='display: block; margin: auto;' src="../res/icon_people_off.png">
            </div>
            <div id="SetTaskTypeLocationButton" class="clickable" style="width: 50%; background-color: white;"><img
                    width=150 height=150 style='display: block; margin: auto;' src="../res/icon_locations_off.png">
            </div>
        </div>
    </div>
</div>