<div style="width: 100%;">
    <div style='display: flex; flex-direction: row;'>
        <button id="New_Shift_Start_Date_Button" class="buttonHeight"
            style='margin-right: 10px; margin-bottom: 10px; flex-grow: 5;'></button>

        <button id="New_Shift_Today_Button" class="buttonHeight" style='margin-bottom: 10px; width: 50px;'><img
                src="../res/calendar.png" style="width: 50px; height: 50px; margin-left: -4px;"></button>


    </div>

    <div style='display: flex; flex-direction: row;'>
        <button id="New_Shift_Left"
            style='height: 40px; font-size: 30px; flex-grow: 1; margin-top: 5px; margin-right: 10px; margin-bottom: 5px;'>&lt;</button>
        <button id="New_Shift_Right"
            style='height: 40px; font-size: 30px; flex-grow: 1; margin-top: 5px; margin-bottom: 5px;'>&gt;</button>
    </div>
    <div id="New_Shift_Calendar" style=' display: flex; flex-direction: row;'>
        <div id="New_Shift_Calendar_Labels" style='width: 50px;'></div>
        <div id="New_Shift_Calendar_Buttons" style='flex-grow: 1; margin-top: 9px;'>
        </div>
    </div>
</div>