<div class="standardDivWidth">
    <br><br><br>
    <img id="AddShiftButton" class="AddButton" src="../res/plus_button.png"></button>

    <button id="ViewShiftCalendarButton" class="buttonHeight" style='width: 100%;'>
        View Calendar</button>
    <br><br>
    <div id="ViewShiftsKeyTextView" style='font-size: 15pt;'>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;🔵 = You are Assigned to this Shift</div>
    <br>
    <div class="search_div" style='display: flex; flex-direction: row;'>

        <img id="imageView" style='width: 50px; height: 50px;' src="../res/actionModeWebSearchDrawable.png">

        <input id="Search_Bar" placeholder="Search" style='flex-grow: 1; height: 50px; margin-right: 10px;'>
    </div>

    <div id="ShiftList"></div>
</div>