<div class="standardDivWidth">
    <br><br><br>
    <div class="labelMarginTop labelSize">Start Date</div>

    <button id="TotalHours_StartDate_Button" class="buttonHeight"
        style='display: block; margin: auto; width: 80%;'></button>

    <div class="labelMarginTop labelSize">End Date</div>

    <button id="TotalHours_EndDate_Button" class="buttonHeight"
        style='display: block; margin: auto; width: 80%;'></button>

    <div id="TotalHours_TotalText" style='margin-top: 20px; text-align: center;'></div>

    <div style='margin-top: 20px; display: flex; flex-direction: row;'>
        <button id="Button_Export_Hours_Count_Final" class="buttonHeight"
            style='margin-right: 5px; flex-grow: 1;'>Export Hours
            Count</button>
        <button id="Button_Export_Clock_In_Summary_Final" class="buttonHeight" style="flex-grow: 1;">Export Clock
            Summary</button>
    </div>
</div>