<div class="standardDivWidth">
    <br><br><br>
    <img id="AddTemplateButton" class="AddButton" src="../res/plus_button.png"></button>
    <div id="SDSTemplateHelp" style="text-align: center; margin: 10px; display: none;">To import SDS templates. Go to:<br><br>Home->
        Supplies-> (Supply Location)-> (Supply Item)-> Import Template</div>
    <div class="search_div" style='display: flex; flex-direction: row;'>
        <img id="imageView" style='width: 50px; height: 50px;' src="../res/actionModeWebSearchDrawable.png">
        <input id="Search_Bar" placeholder="Search" style='flex-grow: 1; height: 50px; margin-right: 10px;'>
    </div>
    <div id="TemplateList">
    </div>
</div>