<div class="standardDivWidth">
    <br><br><br>
    <div class="labelMarginTop labelSize">Start Date</div>

    <button id="StartDate_Button" class="buttonHeight" style='display: block; margin: auto; width: 80%;'></button>

    <div class="labelMarginTop labelSize">End Date</div>

    <button id="EndDate_Button" class="buttonHeight" style='display: block; margin: auto; width: 80%;'></button>

    <button id="Button_Export2" class="buttonHeight" style='margin-top: 20px; width: 100%;'>Export</button>

    <div id="TotalHours_TotalText" style='margin-top: 20px; text-align: center;'></div>

</div>