<div id="ID_POINT" style="display: flex; flex-direction: row; margin-bottom: 10px;">
    <span style="width: 20px;"></span>
    <input id="ID_POINT" placeholder="Point (E.G. Vacuuming)" style='flex-grow: 1; font-size: 20px;'>
    <button id="ID_POINT_PLUS" style="margin-left: 10px; width: 100px; font-size: 30px;">+</button>
    <button id="ID_POINT_X" style="margin-left: 10px; width: 100px; font-size: 20px;"><img src="../res/ic_delete.png"
            width="30" height="30" style="margin-top: 3px;"></button>
</div>