<div style='display: flex; flex-direction: row;'>
    <div id="Request_Notification" style="display: none; width: 55px;" class="no_selection">
        <img style='position: absolute; width: 50px; height: 50px;' src="../res/red_circle.png">
        <div id="Request_Notification_Text"
            style="position: absolute; width: 50px; height: 50px; text-align: center; color: #FFFFFFFF; font-size: 22pt; padding-top: 5px;">
            20</div>
    </div>

    <button id="Button" class="buttonHeight"
        style='margin-top: 2px; flex-grow: 1; padding-Left: 20px; text-align: left;'>TextViewTextViewTextViewTextViewTextView</button>

</div>