<div style="display: flex; flex-direction: row; margin-top: 2px;">
    <button id="MainButton" class="buttonHeight"
        style='padding-left: 20px; margin-right: 10px; flex-grow: 1; text-align: left;'>TextViewTextViewTextViewTextViewTextViewTextViewTextViewTextViewTextViewTextViewTextViewTextView</button>
    <button id="XButton" class="redButtonText redButton" style="width: 100px;"><img src="../res/ic_delete_white.png"
            width="30" height="30" style="margin-top: 3px;"></button>
</div>