<div id="SUBTASK_VIEW">
    <div id="ID_SUBTASK_LL">
        <div style='display: flex; flex-direction: row;'>
            <div style='flex-grow: 11'></div>
            <textarea id="ID_SUBTASK" placeholder="Subtask"
                style='flex-grow: 4; font-size: 20px;'></textarea>
            <button id="ID_SUBTASK_PLUS_BUTTON" style='margin-left: 10px; width: 50px; height: 50px; font-size: 30px; padding-bottom: 5px;'>+</button>
            <button id="ID_SUBTASK_MINU_BUTTON" style='margin-left: 10px; width: 50px; height: 50px; font-size: 20px;'><img src="../res/ic_delete.png" width="30" height="30" style="margin-top: 3px;"></button>
        </div>
    </div>
</div>