<div id="SUBTASK_VIEW">
    <div id="ID_SUBTASK_LL">
        <div style='display: flex; flex-direction: row;'>
            <div style='flex-grow: 11'></div>
            <textarea id="ID_SUBTASK" placeholder="Subtask"
                style='flex-grow: 4; font-size: 20px; font-family: BalooChettan2-Regular;'></textarea>
            <button id="ID_SUBTASK_PLUS_BUTTON" style='margin-left: 10px; width: 50px; font-size: 20px;'>+</button>
            <button id="ID_SUBTASK_MINU_BUTTON" style='margin-left: 10px; width: 50px; font-size: 20px;'>X</button>
        </div>
    </div>
</div>